<section class="table-responsive">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let col of config?.cols">{{ col.text }}</th>
        <th
          *ngIf="config?.actions?.deleteButton || config?.actions?.updateButton"
        >Action
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of itemList">
        <td *ngFor="let col of config!.cols" class="align-middle">
          <span *ngIf="col.key !== 'image'">
            {{ item[col.key] ? item[col.key] : "N/A" }}
          </span>
          <span *ngIf="col.key === 'image'">
            <img *ngIf="item.image" class="rounded-circle" [src]="item[col.key]" alt="" style="height: 50px;">
            <img *ngIf="!item.image" class="img-fluid rounded-circle" src="../../../assets/img/no-user-image.png" alt="no user image" style="height: 50px;">
          </span>
        </td>
        <td>
          <div class="btn-group">
            <button
              *ngIf="config?.actions?.updateButton"
              class="btn btn-info"
              (click)="onUpdate(item)"
            ><i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button
              *ngIf="config?.actions?.deleteButton"
              class="btn btn-danger"
              (click)="onDelete(item)"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
