<section *ngIf="isNoArticle" class="text-center text-primary mt-5">
  <h3>It seems there are no articles...</h3>
  <p>Sign up and you can be the first!</p>
</section>

<section *ngIf="articleList$" class="row my-3 p-3 justify-content-around">
  <article
    *ngFor="let article of articleList$ | async"
    class="col-12 col-md-6 col-lg-4 p-3 mt-5 mx-3 border-primary border-bottom border-end row justify-content-start align-items-center"
    >
    <div    (click)="openArticle(article.slug)" style="cursor: pointer;">
      <h4 class="text fw-bold border-start  border-5 border-warning ps-2">{{article.title}}</h4>
      <p>{{article.description}}</p>
    </div>
    <div class="text-end">
      <small *ngIf="user?.username !== article.author.username" class="text-secondary fst-italic">by {{article.author.username}}
        <img *ngIf="article.author.image" class="rounded-circle" style="height: 2rem;" [src]="article.author.image" alt="author image">
      </small>
      <small *ngIf="user?.username === article.author.username" class="text-secondary ">
        <button class="btn btn-outline-secondary" [routerLink]="['edit-article/', article.slug]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </small>
    </div>
  </article>
</section>
