// color palettes

$light-cornflower-blue: rgba(142, 202, 230, 1);
$blue-green: rgba(33, 158, 188, 1);
$prussian-blue: rgba(2, 48, 71, 1);
$selective-yellow: rgba(255, 183, 3, 1);
$tangerine: rgba(251, 133, 0, 1);


$charcoal: rgba(35, 61, 77, 1);
$pumpkin: rgba(254, 127, 45, 1);
$sunglow: rgba(252, 202, 70, 1);
$olivine: rgba(161, 193, 129, 1);
$polished-pine: rgba(97, 155, 138, 1);


// BOOSTRAP color variables override


$primary: $tangerine;
// $secondary: $light-cornflower-blue;
// $warning: $pumpkin;
// $danger: $pumpkin;
// $success: $olivine;
// $info: $blue-green;

// $headings-color:  $primary
